@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
    list-style: none;
}
.main {
  position: relative;
}
.main img {
  display: block;
  margin: 100px auto;
}

.main ul {
  
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 100px auto;
}
.main ul li{
    line-height: 40px;
}

.main span a{
  display: block;
  margin: auto;
  position: absolute;
  top: 8px;
  left: 70%;
  font-size: 20px;
  text-decoration: none;
  color: black;


}
